html, body {
  padding: 0;
  margin: 0;
}

.top {
  width: 100%;
  background-color: white;
  box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.1);
  color: #888;
  position: fixed; 
  z-index: 1;
}

.top h1 {
  font-family: 'Lora', serif;
  font-style: italic;
  font-weight: lighter;
  float: left;
  margin: 10px 10px;
}

h2 {
  font-weight: lighter;
  font-size: large;
}

h3 {
  font-weight: lighter;
}

strong {
  color: #444;
  font-weight: normal;
}

.top-left-nav {
  float: right;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: small;
  color: #666;
  margin-top: 17px;
}

.top-left-nav li {
  display: block;
  float: left;
  margin: 0 6px;
}

.top-left-nav ul {
  padding: 0;
}

.header {
  width: 96%;
  max-width: 768px;
  margin: 0 auto;
  overflow: auto;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 60px;
}

.post-content {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: small;
  line-height: 1.5;
  color: #666;
  margin: 10px;
}

.follow-jolene-lai {
  overflow: auto;
}

.follow-jolene-lai ul {
  padding-left: 0;
}

.follow-jolene-lai li {
  float: left;
  margin: 0 20px 0 0;
}

li {
  display: block;
}

.spacer {
  width: 100%;
  height: 2.5%;
}

.artwork {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

.col {
  border: 0px;
  float: left;
  margin: 2%;
  width: 29%;
  padding-top: 29%;
  box-shadow: #999 3px 3px 8px 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box !important;
  -moz-background-clip: padding-box !important;
  background-clip: padding-box !important;
}

.row {
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 60px;
}

a, a:visited {
  text-decoration: none;
  color: #888;
}

a:hover {
  text-decoration: none;
  color: #000;
}

@media all and (max-width: 359px) {
  .top h1 {
    font-size: 1.5em
  }

  .top-left-nav {
    margin-top: 8px
  }
}

@media all and (max-width: 400px) {
  .col {
    width: 96%;
  padding-top: 96%;
  }
}

@media all and (min-width: 401px) and (max-width: 600px) {
  .col {
    width: 46%;
    padding-top: 46%;
  }
}

