html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.top {
  max-width: 800px;
  height: 10%;
  margin: 0 auto;
  color: #888;
}

.bottom {
  width: 100%;
  height: 10%;
  background-color: #FFF;
  text-align: center;
  color: #222;
}

.spacer {
  width: 100%;
  height: 2.5%;
}

.main {
  width: 100%;
  height: 77.5%;
}

.wall {
  width: 100%;
  height: 100%;
}

.artwork {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

.nav {
  width: 100%;
  height: 75%;
  position: absolute;
}

.nav a {
  opacity: 0;
  color: #999;
}

.nav a:hover {
  opacity: 1;
}

.nav-top {
  height: 45%;
}

.previous-artwork {
  width: 50%;
  height: 100%;
  float: left;
  text-align: left;
}

.next-artwork {
  width: 50%;
  height: 100%;
  float: left;
  text-align: right;
}

h1 {
  font-family: 'Lora', serif;
  font-style: italic;
  font-weight: lighter;
}

h1 a, a:visited, a:hover {
  text-decoration: none;
  color: #888;
}

p {
  font-family: 'Lora', serif;
  font-size: small;
  margin: 0 10px;
}

@media all and (max-height: 400px) {
    h1 {
        font-size: 1em;
    }
}
