html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.top {
  width: 100%;
  background-color: white;
  box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.1);
  color: #888;
  position: fixed;
  z-index: 1;
}

.top h1 {
  font-family: 'Ek Mukta', sans-serif;
  font-weight: lighter;
  font-size: 1.7em;
  float: left;
  margin: 10px 6px;
}

.top-left-nav {
  float: right;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: small;
  color: #666;
  margin-top: 15px;
}

.top-left-nav li {
  display: block;
  float: left;
  margin: 0 6px;
}

.top-left-nav ul {
  padding: 0;
}

.header {
  width: 96%;
  max-width: 768px;
  margin: 0 auto;
  overflow: auto;
}

a, a:visited {
  text-decoration: none;
  color: #888;
}

a:hover {
  text-decoration: none;
  color: #000;
}

.bottom {
  width: 100%;
  height: 10%;
  background-color: #FFF;
  text-align: center;
  color: #222;
}

.top-spacer {
  width: 100%;
  height: 15%;
}

.bottom-spacer {
  width: 100%;
  height: 2.5%;
}

.main {
  width: 100%;
  height: 85%;
}

.wall {
  width: 100%;
  height: 100%;
}

.frame {
  width: 100%;
  height: 87.5%;
}

.artwork {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

.nav {
  width: 100%;
  height: 85%;
  position: absolute;
}

.nav a {
  opacity: 0;
  color: #999;
}

.nav a:hover {
  opacity: 1;
}

.nav-top {
  height: 45%;
}

.previous-artwork {
  width: 50%;
  height: 100%;
  float: left;
  text-align: left;
}

.next-artwork {
  width: 50%;
  height: 100%;
  float: left;
  text-align: right;
}

p.title {
  font-family: 'Open Sans', sans-serif;
  font-size: medium;
  margin: 0 10px;
  color: #666;
}

p.description {
  font-family: 'Open Sans', sans-serif;
  font-size: small;
  margin: 0 10px;
  color: #999;
}

@media all and (max-width: 359px) {
  .top h1 {
    font-size: 1.5em
  }

  .top-left-nav {
    margin-top: 12px
  }

  .bottom-spacer {
    height: 0;
  }

  p.description {
    font-size: x-small;
  }
}

@media all and (max-height: 400px) and (min-width: 400px) {
  .top {
    width: 28%;
    height: 100%;
    float: left;
    position: relative;
  }

  .top h1 {
    display: block;
    margin: 10px 6px;
  }

  .top-left-nav {
    float: left;
    display: block;
    line-height: 1.5em;
  }

  .top-left-nav li {
    display: block;
    float: none;
    line-height: 2em;
  }

  .top-left-nav ul {
    float: left;
  }

  .top-spacer {
    height: 2.5%;
    width: 72%;
  }

  .main {
    height: 95%;
  }

  .nav {
    width: 72%;
    height: 95%;
    margin-left: 25%;
  }

  .wall {
    width: 72%;
    float: left;
  }

  .frame {
    height: 85%;
  }

  .bottom {
    height: 15%;
  }

  .bottom-spacer {
    height: 0;
  }
}
