<div class="nav-links">
  <div>
  <ul>
      <a href="{{ '/' | prepend: site.baseurl }}"><li>
        Paintings
      </li></a>
      <a href="{{ '/drawings/' | prepend: site.baseurl }}"><li>
        Drawings
      </li></a>
      <a href="{{ '/store/' | prepend: site.baseurl }}"><li>
        Store
      </li></a>
      <a href="{{ '/news/' | prepend: site.baseurl }}"><li>
        News
      </li></a>
      <a href="{{ '/about/' | prepend: site.baseurl }}"><li>
        About
      </li></a>
      <a href="{{ '/contact/' | prepend: site.baseurl }}"><li>
        Contact
      </li></a>
  </ul>
  </div>
  <div class="follow-jolene-lai">
      <ul>
          <li>
              <a href="http://instagram.com/jolenelaiart" target="_blank">
                  <i class="fa fa-instagram"></i>
              </a>
          </li>
          <li>
              <a href="http://jolenelaiart.tumblr.com/" target="_blank">
                  <i class="fa fa-tumblr"></i>
              </a>
          </li>
          <li>
              <a href="https://twitter.com/jolenelaiart" target="_blank">
                  <i class="fa fa-twitter"></i>
              </a>
          </li>
          <li>
              <a href="https://www.facebook.com/jolenelaiart" target="_blank">
                  <i class="fa fa-facebook"></i>
              </a>
          </li>
      </ul>
  </div>
</div>
