<div class="news-item">
  <a href="{{ post.url | prepend: site.baseurl }}">
    <h2><i>{{ post.title }}</i> - {{ post.show_type }}</h2>
  </a>

  <p>
    {% if post.opening %}
  Opening reception: {{ post.opening "}}<br/>
    {% endif %}
    {% if post.on_view%}
  On view: {{ post.on_view }}<br/>
    {% endif %}
  <a href="{{ post.link }}" target="_blank">
    {{ post.venue }}
  </a>, {{ post.location }}
  </p>

  <a href="{{ post.link }}" target="_blank">
    <div class="show-card">
      <img src="{{ post.image_url | prepend: site.baseurl }}"/>
    </div>
  </a>
</div>
