---
layout: base
---

{% for painting in site.tags.paintings %}
    {% if painting.url == page.url %}
        {% assign painting_index0 = forloop.index0 %}
        {% assign painting_index1 = forloop.index %}
    {% endif %}
{% endfor %}
{% for painting in site.tags.paintings %}
    {% if painting_index0 == forloop.index %}
        {% assign next_artwork = painting.url %}
    {% endif %}
    {% if painting_index1 == forloop.index0 %}
        {% assign prev_artwork = painting.url %}
    {% endif %}
{% endfor %}

{% for illustration in site.tags.illustrations %}
    {% if illustration.url == page.url %}
        {% assign illustration_index0 = forloop.index0 %}
        {% assign illustration_index1 = forloop.index %}
    {% endif %}
{% endfor %}
{% for illustration in site.tags.illustrations %}
    {% if illustration_index0 == forloop.index %}
        {% assign next_artwork = illustration.url %}
    {% endif %}
    {% if illustration_index1 == forloop.index0 %}
        {% assign prev_artwork = illustration.url %}
    {% endif %}
{% endfor %}

<div class="top-spacer"></div>
<div class="main">
  <div class="nav" id="nav">
    <a class="previous-artwork" href="{{ next_artwork | prepend: site.baseurl}}">
      <div class="nav-top"></div>
      <i class="fa fa-chevron-left fa-2x"></i>
    </a>
    <a class="next-artwork" href="{{ prev_artwork | prepend: site.baseurl}}">
      <div class="nav-top"></div>
      <i class="fa fa-chevron-right fa-2x"></i>
    </a>
  </div>
  <div class="wall">
    <div class="frame">
      <img class="artwork" src="{{ page.image_url}}">
    </div>
    <div class="bottom-spacer"></div>
    <div class="bottom">
      <p class="title">{{ page.title }}</p>
      <p>{{ page.media }}  &bull;   {{ page.width }}" x {{ page.height }}"   &bull;   {{ page.date | date: "%Y" }}</p>
    </div>
  </div>
</div>
