---
layout: base
---
<div class="spacer"></div>
<div class="top">
  <h1><a href="{{index.html | prepend: site.baseurl}}">Jolene Lai</a></h1>
</div>
<div class="main"> 
  <div class="nav">
    <a class="previous-artwork" href="{{ page.next.url | prepend: site.baseurl}}">
      <div class="nav-top"></div>
      <i class="fa fa-chevron-left fa-5x"></i>
    </a>
    <a class="next-artwork" href="{{ page.previous.url | prepend: site.baseurl}}">
      <div class="nav-top"></div>
      <i class="fa fa-chevron-right fa-5x"></i>
    </a>
  </div>
  <div class="wall">
    <img class="artwork" src="{{ page.image_url}}">
  </div>
</div>
<div class="spacer"></div>
<div class="bottom">
  <p>{{ page.title}}   |   {{ page.media }}   |   {{ page.width }}" x {{ page.height }}"   |   {{ page.date | date: "%Y" }}</p>
</div>
